attrs==23.1.0
black==23.7.0
click==8.1.6
libcst==1.0.1
moreorless==0.4.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
PyYAML==6.0.1
stdlibs==2022.10.9
toml==0.10.2
tomli==2.0.1
trailrunner==1.4.0
typing-inspect==0.9.0
typing_extensions==4.7.1
usort==1.0.7
